/* ---------- general styling ---------- */
header {
  background-color: darkorange;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-family: "Squada One", cursive;
  font-size: 60px;
}

footer {
  background-color: darkorange;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

footer h1 {
  font-family: "Squada One", cursive;
  font-size: 150%;
}

main {
  background-color: darkblue;
}

body {
  margin: 0;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h3 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/* ---------- grid container styling ---------- */

.actions-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding: 20px;
  color: white;
}

.filters-section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  padding: 10px;
  color: white;
}

/* ---------- grid container styling ---------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

.grid-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: darkorange;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  /* border-radius: 40px; */
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* ---------- Animationer ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- styling for article button ---------- */

article > button {
  background-color: darkblue;
  color: darkorange;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 3px solid darkorange;
}

/* ---------- styling for dialog forms ---------- */

dialog {
  width: 400px;
  padding: 20px;
  background-color: darkorange;
  border: 4px solid darkblue;
}

/* Style for the dialog's heading */
dialog h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  color: darkblue;
}

/* Style for the form inside the dialog */
form {
  display: flex;
  flex-direction: column;
}

/* Style for the form's label */
form label {
  margin-top: 10px;
  padding-bottom: 4px;
  font-weight: bold;
  color: darkblue;
}

/* Style for the form's input */
form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid darkblue;
  margin-bottom: 10px;
}

form button {
  border: 3px solid darkorange;
}
/* Style for the form's cancel button */
form .btn-cancel {
  background-color: darkblue;
  color: darkorange;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Style for the form's submit button */
form button[type="submit"] {
  margin-top: auto;
  background-color: darkblue;
  color: darkorange;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Styling af error-messages */
#error-message-create {
  font-size: 2em;
  background-color: red;
}

#error-message-update {
  font-size: 2em;
  background-color: red;
}

/* hide */
/* .hide { */
/* display: none; */
/* } */
