/* ---------- general styling ---------- */
header {
  background-color: darkorange;
  text-align: center;
  padding: 20px;
}
main {
  background-color: darkblue;
}

body {
  margin: 0;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h3 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/* ---------- grid container styling ---------- */

.actions-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding: 35px;
}

/* ---------- grid container styling ---------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

.grid-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: darkorange;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  /* border-radius: 40px; */
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* ---------- Animationer ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
